.noscroll {
  overflow: auto !important; /* 👈 IMPORTANTE: mantener scroll */

  /* Firefox */
  scrollbar-width: none !important;

  /* IE / Edge legacy */
  -ms-overflow-style: none !important;
}

/* Chrome, Safari, Opera */
.noscroll::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

*{
  transition: background-color 0.3s ease;
}
.shadow-card{
  box-shadow: 0px 0px 20px 1px #514e532a;
}

